@charset "UTF-8"; /* 이거 안하면 한글이 깨진다. 페이지소스 봤을때! */

/* 스킵 내비게이션 */
#skip {position: relative;} /*skip은 기준점이 되어야하니까 relative해주는거다*/
#skip a {position: absolute; left: 0px; top: -35px; border: 1px solid #fff;
color: #fff; background: #333; line-height: 30px; width: 140px; text-align: center;}
/*position위치가 absolute절대적이다. 위치를 내맘대로 설정할수 있다. 단점은 둥떠있는 느낌이 난다*/
#skip a:active,
#skip a:focus {top: 0;} /*위에서 top을 -30으로 해놔서, 이제 탭을 누르면 top이 0이 되니까 보이는거다.*/

/* 레이아웃 */  /*첨에 가상으로 보려고 해줬던거니까, 지금은 뺴줬다~ 삭제하셨는데 나는 일단 숨김*/
#wrap {/* width: 100%; */}
#header {/* width: 100%; */ height: 325px; background: url(../img/header_bg3.jpg) center top repeat-x}
                                      /*background 위치 설정 센터에 위쪽에 하는거*/
#contents {/* width: 100%; */ /* height: 800px; background: #222; */}
#footer {/* width: 100%;  height: 200px; */ border-top: 1px solid #BFBBB1; background: #333;}

/* 컨텐츠 레이아웃 */
#cont_nav {background: #fff; border: 20px dotted pink; display: none;}
#cont_tit {/* width: 100%; height: 200px; */ background: #4CB5BE;}
#cont_ban {/* width: 100%; height: 200px; */ background: #A4CD54; }
#cont_cont {width: 100%; /* height: 200px; 깨지니까 없애기 (이건 첨에 구조보려고 넣었던것 이제 필요없음)*/background: #E8EAA2;}

/* 컨테이너 */
.container {
  width: 990px; margin: 0 auto; height: inherit; /* background:rgba(225,225,225,0.3); */
}

/* 헤더 */
.header .header-menu {text-align: right;}
.header .header-menu a {color: #fff; padding: 10px 0px 10px 13px; display: inline-block;}
.header .header-menu a:hover {color:#666;}
.header .header-tit {text-align: center;}
.header .header-tit h1{background-color: #A4CD54; font-size: 28px;
padding: 5px 20px 6px 20px; display: inline-block; color:#fff; margin-top: 40px;
font-weight: normal; text-transform: uppercase;}
.header .header-tit a {display: inline-block; background-color: #fff; font-size: 18px;
padding: 5px 20px 6px 20px; margin-top: -5px;}
.header .header-icon {text-align: center; margin: 30px;}
.header .header-icon a {width: 60px; height: 60px; display: inline-block; background: url(../img/icon.png); margin: 0px 3px;}
.header .header-icon a.icon1 {background-position: 0 0;}
.header .header-icon a.icon2 {background-position: 0 -60px;}
.header .header-icon a.icon3 {background-position: 0 -120px;}
.header .header-icon a.icon4 {background-position: 0 -180px;}
.header .header-icon a.icon1:hover {background-position: -60px 0;}
.header .header-icon a.icon2:hover {background-position: -60px -60px;}
.header .header-icon a.icon3:hover {background-position: -60px -120px;}
.header .header-icon a.icon4:hover {background-position: -60px -180px;}

/* float: left로 인한 영역깨짐은 (height:0이 되는거다.) 그래서 이거 방지법은
1. 깨지는 영역에 똑같이 float: left;를 사용한다. (근데 이방법은 하나써주면 그거 주르륵 결국 모든 박스에 float:left;해줘야하는 상황이 되니까 별로 좋지 않다.)
2. float의 성질을 차단하는 clear:both;를 사용한다. (근데 이것도 잘 사용하지 않는다. 왜냐? 복잡해지면 어떤 영역이 깨졌는지 찾기가 어려움.)
3. float을 사용한 상위박스한테 overflow: hidden;을 사용한다. (완벽하게 100%좋지는 않지만, 이방법을 제일 많이 사용한다.)
  overflow:hidden; 의 의미는. 내가 지정한 영역 이외에는 안보이게 해주는 거다. 이거쓰게되면 영역이 잡히는 효과가 생긴다. height값이 0이 안돼서.
  단, 이걸 못하는 경우도 있는데 그건 2단메뉴를 사용할때.
4. clearfix 를 사용한다. (이게 거의 100% 제일 좋은방법인데 --> 이건 반응형에서 배우겠다.)
*/

/* 전체 메뉴 */
.nav {overflow: hidden; padding: 30px 0;}
.nav div {} /* 이경우는 div에 자식이있으면 그 자식들까지도 선택된다. */
.nav > div {float: left; width: 40%;} /* 이경우는 .nav의 자식인 div만 선택된다. 자식의 자식은 선택 안된다. 즉 첫번째 자식만 인정하는것 */
.nav > div:last-child {width: 20%;}  /* 얘한테만 20%를 준다. 근데 last-child기능이 인터넷익스플로러9부터 사용가능하다. */
.nav > div.last {width: 20%;} /* 그래서 아까 여기에 class="last"해줘서 이 태그를 이용한다.하위버전 호환위해서 */
.nav > div h3 {font-size: 18px; color: #57BAB3; margin-bottom: 4px;}
.nav > div ol {overflow: hidden;}
.nav > div ol li {float: left; width: 50%;}
.nav > div.last ol li {width: 100%;}
.nav > div ol li a:hover {text-decoration: underline;}

/* 타이틀 */
.tit {position: relative; }
/*아래 .tit .btn의 position태그의 기준점을 해주려고 하는거다. 이거 안하면 전체 브라우저 top0,right0 (맨오른쪽 모서리)로 가버림*/
.tit h2 {font-size: 40px; color: #fff; text-align: center; padding: 5px 0; letter-spacing: 2px; /*글자간격*/
        font-family: 'Monoton', cursive;}
.tit .btn {position: absolute; top: 5px; right: 0; width: 60px; height: 60px;
  background: url(../img/icon.png) no-repeat 0 -600px;}
/*절대값을 쓰면 말그대로 절대적인 위치로 이동할수 있찌만, 단점은 영역이 없어져서 많이쓰면 좋지않다. 특히 반응형할때는 안쓰는게조음*/
.tit .btn.on {background-position: 0 -660px;}


/* 배너 .xxxx없애려구 넣은거다. 비활성화 시키려구,, 왜냐면 슬릭배너 밑에 새로 넣을거라서*/
.xxxx .ban {position: relative; padding: 24px 0 20px;} /*인라인때매 생기는 아래 여백값 감안해서 여기 패딩값으로 여백 조정*/
/*아래 .ban a.prev의 position태그의 기준점을 해주려고 하는거다. 이거 안하면 전체 브라우저 기준으로 (맨왼쪽오른쪽 모서리)로 가버림*/
.xxxx .ban a.prev {position: absolute; left: -80px; top: 60px; width: 43px; height: 43px;
  background:url(../img/icon.png) no-repeat -150px 0;}
/*a링크의 prev라고 표시해주는건데 그냥 prev만 써도 된다.*/
.xxxx .ban a.next {position: absolute; right: -80px;top: 60px; width: 43px; height: 43px;
  background: url(../img/icon.png) no-repeat -150px -43px;}
.xxxx .ban a.prev:hover {background-position:-193px 0; }
.xxxx .ban a.next:hover {background-position:-193px -43px; }
.xxxx .ban ul {overflow: hidden;}
.xxxx .ban ul li {float: left; width: 330px;}
.xxxx .ban ul li:last-child {text-align: right;} /* ie9부터 적용 */
.xxxx .ban ul li:nth-child(2) {text-align: center;} /* ie9부터 적용 */
.xxxx .ban ul li.ban_img1 {text-align: left;}      /* 그래서 이렇게 쓰는거다 이렇게하면 모든 버전 다 호환 */
.xxxx .ban ul li.ban_img2 {text-align: center;}    /* 그래서 이렇게 쓰는거다 이렇게하면 모든 버전 다 호환 */
.xxxx .ban ul li.ban_img3 {text-align: right;;}    /* 그래서 이렇게 쓰는거다 이렇게하면 모든 버전 다 호환 */
/* .ban ul li img {display: block;}*/ /*이미지는 inline구조여서 아래 여백이 생기니까. 블록구조로 바꿔준거다.*/
/*근데 여기서 블록구조로 바꿔버리면, 위에위에 해준거 text-align:center가 안먹힌다. 이건 인라인구조에서만 먹히는거니까*/
/*그래서 그냥 블럭구조 하지말고, 인라인상태로 두고, 대신에 패딩값으로 조절한다. 아래 여백이 있는거 감안해서 차이나게 패딩값 준다 (.ban에)*/

/* 배너 제이쿼리 입력해주느라 html수정해서 이것도 아래로 수정해준거다. 배너사진크기
.ban ul li img {width: 93%; border: 4px solid #A4CD54;}
.ban ul li img:hover {border: 4px solid #F4DB57;}
*/


/* 슬릭 배너 */
.ban {position: relative; padding: 24px 0 40px;}
.ban .slick-prev {position: absolute; left: -80px; top: 70px; width: 43px; height: 43px;
  background:url(../img/icon.png) no-repeat -150px 0; text-indent: -9999px;}
.ban .slick-next {position: absolute; right: -80px;top: 70px; width: 43px; height: 43px;
  background: url(../img/icon.png) no-repeat -150px -43px; text-indent: -9999px;}
.ban .slick-prev:hover {background-position:-193px 0; }
.ban .slick-next:hover {background-position:-193px -43px;}
.ban a img {width: 93%; border: 4px solid #A4CD54;}
.ban a img:hover {border: 4px solid #F4DB57;}
.ban .slick-slide {margin: 5px;}
.ban .slick-dots {position: absolute; bottom: 15px; display: block; width: 100%; text-align: center;}
.ban .slick-dots li {display: inline-block; width: 15px; height: 15px; margin: 5px;}
.ban .slick-dots li button {font-size: 0; line-height: 0; display: block; width: 15px; height: 15px;
cursor: pointer; background: #f1dd49; border-radius: 50%;}
.ban .slick-dots li.slick-active button {background: #6cb3bc;}

.ban .slick-prev, .ban .slick-next, .ban .slick-dots li button:focus {outline: 0;} /*내가 응용한거. 눌렀을때 테투리 파란색 안보이게 하는거 */

/*  컨텐츠 */
.cont {overflow: hidden; padding-top: 30px; /*margin-top으로 주면 흰색으로 되어버려서 배경이 티난다*/} /*아래에 float:left; 줬으니까 무조건 그 상위에 overflow:hidden; 넣어주기!!!!!!!*/
.cont .column {float: left; width: 289px; height: 363px;
  margin: 0 30px 30px 0; padding-right: 30px;
  position: relative; /*.cont .column .ico_img의 기준점 만들어주려고*/} /* col1 부터 col6까지 6개박스 공통적용*/
/*그냥 이렇게하면 위에 컨텐츠레이아웃에 height값 걸려있어서 깨지니까 위로 올라가서 컨텐츠레이아웃에서 cont_cont 의 height값 없애기! */

/* .cont .column.col1 {} 혹은 .cont .col1 {} 이렇게 개별적인요소를 쓰는거다. html에서 class="column col1"한거는 가명이 2개 인거임 */

.cont .col1 {border-right: 1px solid #e8e8;}
.cont .col2 {border-right: 1px solid #e8e8;}
.cont .col3 {margin-right: 0; padding-right: 0;}
.cont .col4 {border-right: 1px solid #e8e8;}
.cont .col5 {border-right: 1px solid #e8e8;}
.cont .col6 {margin-right: 0; padding-right: 0;}

.cont .column .ico_img {display: block; width: 60px; height: 60px;
  background: url(../img/icon.png) no-repeat; position: absolute; left: 0; top: 0;} /*이미지 넣어줄건데 이미지 inline구조니까 block으로 바꿔버리기*/
.cont .column .ico_tit {padding-left: 70px; /*이거 안하면 옆에 아이콘으로 들어가 겹쳐버리니까*/ font-size: 16px; color: #2c94c4;}
.cont .column .ico_desc {padding-left: 70px; border-bottom: 1px solid #e8e8; padding-bottom: 15px;
margin-bottom: 15px; /*밑에 notice에 공통으로 아래 밀어주려고*/}

.cont .col1 .ico_img {background-position: 0px -240px;}
.cont .col2 .ico_img {background-position: 0px -300px;}
.cont .col3 .ico_img {background-position: 0px -360px;}
.cont .col4 .ico_img {background-position: 0px -420px;}
.cont .col5 .ico_img {background-position: 0px -480px;}
.cont .col6 .ico_img {background-position: 0px -540px;}
.cont .col1 .ico_img:hover {background-position: -60px -240px;}
.cont .col2 .ico_img:hover {background-position: -60px -300px;}
.cont .col3 .ico_img:hover {background-position: -60px -360px;}
.cont .col4 .ico_img:hover {background-position: -60px -420px;}
.cont .col5 .ico_img:hover {background-position: -60px -480px;}
.cont .col6 .ico_img:hover {background-position: -60px -540px;}


/* 게시판 */
.notice {position: relative;} /*.notice a.more에 위치 : 절대적썼으니까!*/
.notice h4 {font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.notice ul li {overflow: hidden;  /* width: 50px; height: 10px; 여기서의 역할은 내가 지정한영역(width,height)외에는 아무것도 보이지 말라 */
text-overflow: ellipsis; /*내가 지정한 이외에 넘어가면 ... 으로 바뀌는거 */
white-space: nowrap; /*이건 두줄로 넘어간걸 한줄로 바꿔버리는거!*/
background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px; /*dot위치 조정까지 해주기*/}
.notice ul li a {font-size: 12px;}
.notice a.more {position: absolute; right: 0; top: 0; display: block;
  background: url(../img/icon.png) -150px -90px; width: 17px; height: 17px;} /*리스트 아래에 위치했었는데 이걸 오른쪽 위로 올려주기 위해서 절대적 쓰기!*/

/* 게시판2 */
.notice2 {position: relative; margin-top: 15px;}
.notice2 h4 {font-size: 14px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.notice2 ul {}
.notice2 li {overflow: hidden; background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px; /*dot위치 조정까지 해주기*/}
.notice2 li a {float: left; width: 65%; /*float썼으니까! 상위에다가 overflow:hidden; 써주기*/
overflow: hidden;/* width: 50px; height: 10px; 여기서의 역할은 내가 지정한영역(width,height)외에는 아무것도 보이지 말라 */
text-overflow: ellipsis; /*내가 지정한 이외에 넘어가면 ... 으로 바뀌는거 */
white-space: nowrap; /*이건 두줄로 넘어간걸 한줄로 바꿔버리는거!*/
font-size: 12px;}
.notice2 li span {float: right; width: 30%; text-align: right;} /*float썼으니까! 상위에다가 overflow:hidden; 써주기*/
.notice2 a.more {position: absolute; right: 0; top: 0; display: block;
  background: url(../img/icon.png) -150px -90px; width: 17px; height: 17px;}

/* 게시판3 */
.notice3 {position: relative;}
.notice3 h4 {font-size: 14px; color: #0093bd; padding-bottom: 5px; font-weight: bold;}
.notice3 li {position: relative; padding: 8px 0 14px 60px;}
.notice3 li a img {width: 50px; position: absolute; left: 0; top: 0; /* border: 1px solid #fff; 난 안할래*/}
.notice3 li a strong {display: block;/*제목하고 설명이 붙어있는데, 인라인이어서 그런거다 그러니까 블록으로 바꿔줍시다.*/
  overflow: hidden;/* width: 50px; height: 10px; 여기서의 역할은 내가 지정한영역(width,height)외에는 아무것도 보이지 말라 */
  text-overflow: ellipsis; /*내가 지정한 이외에 넘어가면 ... 으로 바뀌는거 */
  white-space: nowrap; /*이건 두줄로 넘어간걸 한줄로 바꿔버리는거!*/
  font-size: 12px;}
.notice3 li a span {display: block;/*제목하고 설명이 붙어있는데, 인라인이어서 그런거다 그러니까 블록으로 바꿔줍시다.*/
  overflow: hidden;/* width: 50px; height: 10px; 여기서의 역할은 내가 지정한영역(width,height)외에는 아무것도 보이지 말라 */
  text-overflow: ellipsis; /*내가 지정한 이외에 넘어가면 ... 으로 바뀌는거 */
  white-space: nowrap; /*이건 두줄로 넘어간걸 한줄로 바꿔버리는거!*/
  font-size: 12px;}
.notice3 a.more {position: absolute; right: 0; top: 0; display: block;
  background: url(../img/icon.png) -150px -90px; width: 17px; height: 17px;}

/* 마우스 오버 */
.notice_hover {}
.notice_hover h4 {font-size: 14px; color: #0093bd; padding-bottom: 5px; font-weight: bold;}
.notice_hover ul {overflow: hidden;} /*하위에 float:left;해줫으니까 이게 상위니까 여기에 오버플로우 히든*/
.notice_hover li {float: left; width:93px; margin-right: 5px; text-align: center;/*이게 상위박스라 여기에 center주는거다. em에 들어간 글씨 가운데설정하려구*/} /*그냥 이렇게하면 세번째 박스도 오른쪽에 5px마진들어가서 정렬 흐트러진다. */
.notice_hover li:last-child {margin-right: 0;} /*위에 마진5px준거 여기서 마지막꺼 빼주는거다. 단 ie9부터 됨. 전버전 되게하려면 html이부분에 class달기*/
.notice_hover li a {}
.notice_hover li a span {position: relative; display: block; width: 93px; height: 93px; line-height: 93px;/*중간에오고싶어서*/} /*span에다가 relative값 주려는거니까 block값 주는것도 같이 해야한다! 그리고 영역width,height값 넣어서 지정해주기*/
.notice_hover li a span img {width: 100%; /*위에 li에 width가 설정되어서 구역은 정해져있으니 그 구역에서의 100퍼인거다.*/}
.notice_hover li a span em {visibility: hidden; /*일단 안보이게하 그리고 스팬에 다시 em해서 visible하기*/
  position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.7); color: #fff; width: 100%; height: 100%;}
.notice_hover li a span:hover em {visibility: visible;}
.notice_hover li a strong {padding-top: 3px; /*그냥 이거만 하면 안먹힌다. 왜? inline구조니까 (아래로이어서)*/
display: inline-block; /*그래서 인라인성질가지면서 블록구조만들어 버리자.*/ font-size: 12px;}

/* 마우스 오버 2 (같이한 ) */
.notice_hover2 {}
.notice_hover2 ul {overflow: hidden;} /*아래박스에 float: left;줬으니까 상위박스인 여기에 overflow:hidden; 줘야한다.*/
.notice_hover2 ul li {float: left; width: 93px; text-align: center; margin-right: 5px;}
.notice_hover2 ul li:last-child {margin-right: 0;} /*마지막이미지는 오른쪽마진 안주려고 0 준다.*/
.notice_hover2 li a {}
.notice_hover2 li a span {position: relative; display: block; width: 93px; height: 93px;}
.notice_hover2 li a span img {width: 100%;}
.notice_hover2 li a span em {visibility: hidden;
  color: #fff; background: rgba(0,0,0,0.7); position: absolute; left: 0; bottom: 0; width: 100%; }
.notice_hover2 li a span:hover em {visibility: visible;}
.notice_hover2 li a strong {padding-top: 3px; display: inline-block; font-size: 12px;}

/* 마우스 오버 2 (내가한거) 음. 문제는 span em에서 width를 100% 를 줬었어가지구, position을 bottom으로 해도 안되었던거다.
그래서 position absolute에서 left랑 top을 내가 줬던 거였다..
.notice_hover2 {}
.notice_hover2 ul {overflow: hidden;} 아래박스에 float: left;줬으니까 상위박스인 여기에 overflow:hidden; 줘야한다.
.notice_hover2 ul li {float: left; width: 93px; text-align: center; margin-right: 5px;}
.notice_hover2 ul li:last-child {margin-right: 0;} 마지막이미지는 오른쪽마진 안주려고 0 준다.
.notice_hover2 li a {}
.notice_hover2 li a span {position: relative; display: block; width: 93px; height: 20px;}
.notice_hover2 li a span img {width: 100%;}
.notice_hover2 li a span em {visibility: hidden;
  color: #fff; background: rgba(0,0,0,0.7); position: absolute; left: 0; top: 73px;
  width: 100%; height: 100%;}
.notice_hover2 li a span:hover em {visibility: visible;}
.notice_hover2 li a strong {padding-top: 75px; display: inline-block; font-size: 12px;}
*/


/* 콘텐츠 요소를 보이지 않게 하는 방법
1. display:none <-반대-> display:block  (영역이 사라짐)(***내용이랑 영역까지도 사라짐***)
2. visibility: hidden; <-반대-> visibility: visible;    (영역유지)(***내용은 사라지는데, 영역은 남아있음**아까 위에서 마우스오버효과할땐, 영역은 남아있어도 되니까 이거 써준거다.*)
3. opacity: 0; (투명도 조절하는건데, 얘도 안보이게해주는 역할한다.) <-반대-> opacity: 1; (영역유지)
4. width:0 ; height:0; overflow:hidden; (이건 번외)(이건 우리가 컨트롤 할 수 있는거다. )
 */

 /* 탭 메뉴 tab_menu */
.tab_menu {position: relative; border: 1px solid #ccc; padding: 8px; height: 105px;} /*여기가 기준점이 되어야 하니까 position: relative;준거다.*/
.tab_menu ul {overflow: hidden; border-bottom: 1px solid #ccc;} /*아래에 float:left;줬으니까 상위인 여기에 overflow:hidden; 준거다!.*/
.tab_menu ul li {float: left; /*float:left;줬으니까 위에다가 overflow:hidden; 써줘야한다.*/
  border: 1px solid #ccc; margin-right: -1px; margin-bottom: -1px;
/* padding: 5px 10px; 이건 여기다 주면 안된다. 왜냐면 여기다 주면 이 공간에는 링크가 활성화가 안된다.
글씨 눌러야눌려지니까 그래서 a태그에 패딩넣어야한다. 근데 아래 a태그는 inline구조니까 안먹히니까 block화 시켜야한다.*/}
.tab_menu ul li a {padding: 5px 10px; display: block;} /*a태그는 inline구조니까 패딩 안먹히니까 block화 시켜야한다*/
.tab_menu ul li ul {position: absolute; left: 0; top: 48px; width: 270px; border: 0;}
.tab_menu ul li ul li {float: none; border: 0; /*위에 li는 float이 필요했지만, 여기 li는 float이 필요 없으니까 float:none;해준다. */
background: url(../img/dot.gif) no-repeat 9px 8px; padding-left: 18px;}
.tab_menu ul li ul li a {overflow: hidden; text-overflow:ellipsis; white-space: nowrap; width: 100%;
padding: 0 0 3px 0;}
.tab_menu ul li.active {background: #2c94c4;}
.tab_menu ul li.active a {color: #fff;}
.tab_menu ul li.active ul li a {color: #333;}

/* 게시판4 */
.notice4 {position: relative; border: 1px solid #ccc;}
.notice4 h4 {font-size: 14px; color: #0093bd; border-bottom: 1px solid #ccc; padding: 8px 10px; font-weight: 700; }
.notice4 h4 em {color: #cf3292;}
.notice4 ul {padding: 10px;}
.notice4 ul li {background: url(../img/dot.gif) no-repeat 0 8px; overflow: hidden; padding-left: 8px; padding-bottom: 2px;}
.notice4 ul li a {float: left; width: 60%; overflow: hidden;/*한줄효과 주려고 오버플로워 히든 */
text-overflow: ellipsis; white-space: nowrap;}
.notice4 ul li span {float: right; width: 30%; text-align: right;}
.notice4 a.more {position: absolute; right: 9px; top: 9px;}

/* 갤러리 */
.gallery {border: 1px solid #ccc; height: 254px; position: relative; overflow: hidden; /*지금 height값 지정해놨으니까, 내가 지정한 영역 외에는 보이지 마라 라는 명령으로 overflow: hidden;써줌*/ }
.gallery h4 {font-size: 14px; color: #0093bd; border-bottom: 1px solid #ccc; padding: 10px 0 8px 11px; font-weight: bold;}
.gallery .gallery_btn {position: absolute;right: 5px; top: 7px;}
.gallery .gallery_btn ul {/* overflow: hidden; 슬릭하느라 지움 */}
.gallery .gallery_btn li {float: left; margin: 1px 2px;}
.gallery .gallery_btn li a {display: block; width: 23px; height: 23px; background: url(../img/icon.png) no-repeat;}
.gallery .gallery_btn li.gb_icon1 a {background-position: -150px -120px;}
.gallery .gallery_btn li.gb_icon2 a {background-position: -150px -143px;}
.gallery .gallery_btn li.gb_icon3 a {background-position: -150px -166px;}
.gallery .gallery_btn li.gb_icon4 a {background-position: -150px -189px;}
.gallery .gallery_btn li.gb_icon1 a:hover {background-position: -173px -120px;}
.gallery .gallery_btn li.gb_icon2 a:hover {background-position: -173px -143px;}
.gallery .gallery_btn li.gb_icon3 a:hover {background-position: -173px -166px;}
.gallery .gallery_btn li.gb_icon4 a:hover {background-position: -173px -189px;}
.gallery .gallery_img {} /*얘는 이제 필요없움*/
.gallery .gallery_img img {width: 100%;}

/* 슬릭 갤러리 */
.gallery {} /*필요없으니까 빼주기*/
.gallery .gallery_btn button {float: left; margin: 1px 2px; display: block; width: 23px; height: 23px; background: url(../img/icon.png) no-repeat;}
.gallery .gallery_btn .gb_icon1 {background-position: -150px -120px;}
.gallery .gallery_btn .gb_icon2 {background-position: -150px -143px;}
.gallery .gallery_btn .gb_icon3 {background-position: -150px -166px;}
.gallery .gallery_btn .gb_icon4 {background-position: -150px -189px;}
.gallery .gallery_btn .gb_icon1:hover {background-position: -173px -120px;}
.gallery .gallery_btn .gb_icon2:hover {background-position: -173px -143px;}
.gallery .gallery_btn .gb_icon3:hover {background-position: -173px -166px;}
.gallery .gallery_btn .gb_icon4:hover {background-position: -173px -189px;}

.gb_icon1, .gb_icon2, .gb_icon3, .gb_icon4:focus {outline: 0;} /*내가 응용한거. 눌렀을때 테투리 파란색 안보이게 하는거 */

/* 로그인 */
#login-wrap {background: #FAF7EB; padding: 15px; margin-bottom: 15px;}
.login_header {overflow: hidden; font-size: 12px; height: 30px;}
.login_header .lh_check {float: left; padding-right: 15px;}
.login_header .lh_check .input_check {vertical-align: -2px;} /*맥에서는 체크박스랑 옆에 글씨가 라인이 맞는데, 윈도우os에서는 안맞아보이기때문에 조절해준거다.그래서 맥에서 지금 다시 안맞아 보이는거다.*/
.login_header .lh_ip {float: left;}
.login_header .lh_ip em {color: #0093bd; text-decoration: underline;}
.login_content {position: relative;}
.login_content .lc_btn {position: absolute; right: 0; top:0; width: 62px; height: 47px;
  background: #fff; border: 1px solid #bebebe; }
.login_content .input_text {width: 182px; height: 16px; padding: 2px 5px;
  border: 1px solid #bebebe; margin-bottom: 3px; background: #fff;}
.login_footer {margin-top: 5px;}
.login_footer li {display: inline;}
.login_footer li a {font-size: 12px;}

/* 팝업 */
.popup h4 {font-size: 14px; color: #0093bd; padding-bottom: 4px; font-weight: 700;}
.popup ul {overflow: hidden;}
.popup ul li {float: left; width: 93px; margin-right: 5px;}
.popup ul li.last {margin-right: 0;}
.popup ul li img {width: 100%;}

/* 푸터 */
.footer {padding: 25px 0; text-align: center;}
/*float:left로 붙이면 플롯이 더 강해서 text-aline:center;가 안먹힌다. 그래서 여기서는 inline을 이용할거다.*/
.footer ul {margin-bottom: 20px;}
.footer li {display: inline; padding: 0 7px 0 10px; position: relative;}
.footer li a {color:  #BFBBB1; }
.footer li:before {content: ''; width: 1px; height: 12px; background: #BFBBB1;
position: absolute; left: 0; top: 2px;}
.footer li:first-child::before {width: 0; height: 0;}
.footer address {color: #BFBBB1;}
.footer .w3c {margin-top: 15px;}

/* 레이어 팝업 */
#layer {display: none; position: fixed; left: 50px; top: 50px; width: 700px; border: 10px solid #dceff7;
box-shadow: 3px 3px 10px rgba(0,0,0,0.4);}
#layer img {width: 100%; display: block; /*왜 블럭하냐면, 이미지는 인라인구조라, 디폴트로 라인헤이트나, 그런거때문에 밑에 공간 뜬다. 그래서 블록으로 바꿔준거다*/}
#layer .close {position: absolute; right: 20px; top: 20px; background: #0093bd; padding: 1px 6px; color: #fff;}
#layer .close:hover {text-decoration: underline;}
